@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap';
@import 'tailwindcss';

/* stylelint-disable-next-line scss/at-rule-no-unknown */
@custom-variant dark (&:where(.dark, .dark * ));

:root {
  font-family: 'Fira Code', monospace;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
